@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap');
:root{
    --main-bg-color: #28C7A4;
    --main-color: #f5f5f5;
}
::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    scroll-behavior: smooth;
}

body{
      overflow-x: hidden;
      background: var(--main-bg-color);
      height: 100%;
      transition: 0.3s;
      
}
section{
    display: block;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow: visible;
}

section img{
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    object-fit: contain;
    position: absolute;
    overflow: visible;
    
}

svg {
    display: block;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}


.scrollElement {
    position: absolute;
    height: 6000px;
    width: 100px;
    top: 0;
    z-index: 0;
}

.btn {
    position: fixed;
    bottom: 5%;
    right: 0px;
    transform: translateX(-50%);
    border: 2px solid var(--main-color);
    border-radius: 5px;
    font-size: 0.9rem;
    padding: 0.5rem 0.7em;
    background-color: transparent;
    color: var(--main-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    transition: all .3s;
    z-index: 2001;
}


.btn:hover {
    background: var(--main-color);
    color: white;
}
#fullscr {
    z-index: 101;
}
#fullscr img{
    width: 2em;
    filter: invert();
}

#header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 900;
}
#header .header-logo{
    color: var(--main-color);
    font-weight: 600;
    font-size: 2em;
    text-decoration: none;
   
}

#header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

#header li{
    list-style: none;
    margin-left: 20px;
}

#header li a{
    text-decoration: none;
    padding: 6px 15px;
    color: var(--main-color);
    border-radius: 20px;
}

#header li a:hover, #header li a.active{
    background-color: var(--main-color);
    color: var(--main-bg-color);
}

#title-area{
    position: relative;
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    top: 50%;
}


#home-page-title{
    position: absolute;
    color: var(--main-color);
    font-size: 10em;
    text-align: center;
    line-height: 0.55em;
    font-family: 'Source Code Pro', monospace;
    transform: translateY(-50%);
    z-index: 20;
    text-transform: uppercase;
    letter-spacing: 10px;
}

/*typing ani*/
#home-page-title::before, #home-page-title::after{
    content: '';
    position: absolute;
    top: 112px;
    right: 0;
    bottom: -17px;
    left: 0;
}
#home-page-title::before{
    background: black;
    animation: typewriter 2.5s steps(8) 1s forwards;
    
    
}

#home-page-title::after{
    width: .1em;
    background: white;
    animation: typewriter 2.5s steps(8) 1s forwards, blink 850ms steps(8) infinite;
}

@keyframes typewriter{
    100%{
        left: 100%;
    }
}

@keyframes blink{
    100%{
        background: transparent;
    }
}


#home-page-title span{
    font-size: .2em;
    letter-spacing: 2px;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    text-transform: capitalize;
}

.home-page-button{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    background-color: var(--main-bg-color);
    color: var(--main-color);
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 20px;
    transform: translateY(150px);
    z-index: 2050;
    opacity: 0;
    animation: buttonFadeIn 2s ease 4s forwards;
}

@keyframes buttonFadeIn{
    100%{
        opacity: 1;
        transform: translateY(100px);
    }
}


#bigPlanet{
    margin-top: -375px;
    margin-left: 566px;
    z-index: 3;
}

#Stars{
    z-index: 1;
    object-fit: cover;
    opacity: 0.5;
}
#PlanetBG{
    object-fit: cover;
}

#mediumPlanet{
    z-index: 10;
}

#comets{
    transform: translate(663px, -414px);
    z-index: 30;
}

#scene2{
    visibility: hidden;
}

#moonBg, #scene2Stars{
    object-fit: cover;
    opacity: 0;
    z-index: 20;
}

#moon{
    opacity: 0;
    transform: scale(0.6); 
    margin-top: 700px;
    z-index: 40;
}

#info-1{
    position: relative;
    top: 50%;
    left: 0;
    z-index: 50;
    opacity: 0;
    margin-top: 600px;
    text-align: center;
    font-size: 3em;
}

#bigMountain{
    z-index: 40;
    margin-left: -48px;
    margin-top: 800px;
    object-fit: cover
}
#smallMountain{
    z-index: 40;
    margin-top: 900px;
    object-fit: cover;
}
#backTrees, #rightMountain{
    z-index: 41;
    margin-top: 900px;
    object-fit: cover;
}

#frontMountains{
    z-index: 42;
    margin-top: 900px;
    object-fit: cover;
}
#leftTrees, #rightTrees{
    z-index: 43;
    margin-top: 800px;
    object-fit: cover;
}


#scene4BG, #clouds{
    object-fit: cover;
    opacity: 0;
    z-index: 50;
}
#sun{
    z-index: 51;
    opacity: 0;
    margin-left: 900px;
}
#BackMountains{
    z-index: 53;
    margin-top: 800px;
    object-fit: cover;
}
#hiker{
    z-index: 55;
    object-fit: cover;
    margin-top: 800px;
}

/* icons */
#icon-section{
    display: block;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
}

.icons-row{
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
    padding: 10px;
    transform: rotate(-20deg);
    top: -15%;
    width: 110%;
    left: -5%;
    white-space: nowrap;
}

.icons img{
    filter:invert();
    opacity: 0.5;
    filter: saturate(10);
}

.icons img:hover{
    opacity: 1;
    filter: invert(7%) sepia(57%) saturate(500%) hue-rotate(69deg) brightness(1000%) contrast(80%) drop-shadow(0 0 10px #0f0);
    
}

.icons-row div:nth-child(odd){
    animation: scrollingAni 80s linear infinite;
    animation-delay: -80s;
    -webkit-animation-delay: -80s;
} 
.icons-row div:nth-child(even){
    animation: scrollingAni2 80s linear infinite;
    animation-delay: -40s;
    -webkit-animation-delay:-40s;
}

@keyframes scrollingAni{
    0%, 100%{
        transform: translateX(0%);
    }
    50%{
        transform: translateX(-50%);
    }
}

@keyframes scrollingAni2{
    0%, 100%{
        transform: translateX(50%);
    }
    50%{
        transform: translateX(0%);
    }
}

#info-2{
    display: block;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 85%;
    left: 25%;
    z-index: 60;
    opacity: 1;
    text-align: center;
    font-size: 3em;
    color: white;
    opacity: 0;
}
